:root{
    --blue-color: #3f3d56;
    --white-color: #fff;
    --light-black-color: #404040;
    --bg-color: #41db95;
    --dark-green-color: #1C5C3F;
}

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body{
    min-height: 100%;
    margin: 0;
    display: initial;
    background: var(--bg-color);
    font-family: 'Roboto', sans-serif;
}

.orig-font{
    font-family: 'Righteous', cursive;
}

.text-center{
    text-align: center;
    font-size: 50pt;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    color: var(--white-color);
}

.title{
    font-family: 'Black Ops One', cursive;
}

.title .left-half{
    color: var(--dark-green-color);
    background-color: var(--white-color);
    padding: 10px;
}

.title .right-half{
    background-color: var(--dark-green-color);
    color: var(--white-color);
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.loader_parent{
    display: flex;
    justify-content: space-evenly;
    width: 50px;
}

.small_circle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 8px 6px -6px #404040;
}

.circle_1{
    animation: bounce .5s ease-out 0ms alternate infinite none running;
}

.circle_2{
    animation: bounce .5s ease-out 1ms alternate infinite none running;
    animation-delay: .3s;
}

.circle_3{
    animation: bounce .5s ease-out 2ms alternate infinite none running;
    animation-delay: .5s;
}

@keyframes bounce{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-25px);
    }
}

footer{
    background-color: var(--blue-color);
    color: var(--white-color);
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}